# Libreria de pandas
Esta libreria contiene las funciones más amigables para análisis de datos extensos, esta libreria no contiene las funciones de algebra lineal. Es por ello que nos saltaremos a lectura de datos, lo cual numpy decae en algunos formatos como csv.
Para importar esta libreria, el comando usual es el siguiente:
```
import pandas as pd
```

In [1]:
import pandas as pd

# Lectura de datos de csv
```
pd.read_csv(file)
```

In [11]:
folder="Datos/"
filename="Ozono_OMI.csv"
data=pd.read_csv(folder+filename,index_col=0)
# Para visualizar los datos facilmente de puede usar el siguiente código
data

,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
01/01,272.311,257.122,271.411,250.511,248.578,253.000,255.023,253.944,232.600,259.589,255.023,255.023,255.023,282.722,226.500,255.023
01/02,270.278,244.211,270.000,250.967,255.789,252.578,254.544,264.011,245.056,255.023,264.522,256.767,252.389,255.023,255.023,254.056
01/03,256.978,224.611,268.789,253.100,254.878,255.023,255.023,264.078,242.689,306.000,255.023,255.023,255.023,302.233,212.689,255.023
01/04,252.656,225.322,267.678,245.400,233.267,258.911,231.267,269.971,244.467,273.175,260.700,255.023,244.767,255.023,236.244,260.733
01/05,260.767,233.611,249.533,262.267,234.200,255.023,255.023,279.744,250.989,280.511,255.023,270.489,248.756,303.578,255.023,255.023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/27,251.889,257.144,264.133,253.601,253.601,256.143,232.389,256.933,264.233,253.601,257.011,245.433,236.578,253.601,253.601,261.144
12/28,268.711,256.367,252.789,256.222,261.667,267.644,253.601,252.444,253.601,245.078,253.601,253.601,253.601,229.733,260.400,253.601
12/29,258.789,265.100,260.278,245.444,253.601,286.078,256.400,253.601,250.700,253.601,256.711,229.656,254.200,253.601,260.444,252.911
12/30,262.900,251.111,259.822,235.433,258.156,253.601,263.650,245.289,246.400,251.767,253.601,226.733,253.601,212.111,253.601,253.601
12/31,260.444,261.889,244.000,239.750,253.601,268.622,261.578,242.200,253.601,257.022,245.189,241.844,288.378,253.601,252.511,278.100

Para acceder a una columna en espefico se tiene que nombrar como lo siguiente:
```
data[nombre de la columna]
```

In [17]:
data_2005=data["2005"]
data_2005["12/31"]

260.444