# 3. Tipos de datos, variables y como usarlas

## Python básico

Existen distintos tipos de datos que pueden ser utilizados en python, como:

*   Enteros
*   Flotantes
*   Strings
*   Booleanos
*   Listas
*   Tuplas

Y es posible almacenar esos datos en *variables* que nosostros creamos.

## 3.1 Variables

En programación, una variable está formada por un espacio en la memoria del ordenador y un nombre simbólico (un identificador) que está asociado a dicho espacio. Ese espacio contiene una cantidad de información conocida o desconocida, es decir un valor.



![variables.gif]()

En la imagen anterior vemos dos variables llamadas edad y numero_de_hijos (identificadores) cada una con su respectivo valor almacenado en la memoria del ordenador.

### Variables en Python

Las variables en python no necesitan ser declaradas, simplemente se definen al ser utilizadas por primera vez. Además, (si bien no es recomendable) pueden cambiar de tipo volviendo a definir.

Veamos como podemos crear variables en python y asiganarles valores en memoria:

In [ ]:
# Creamos una variable con un identificador 'x' y con un valor reservado en memoria ' "hola" '
x="hola"
print(x)    # Esta linea de código nos mostrará el valor que almacena la variable 'x'
            # pero esto lo veremos más adelante

# Redefinimos la variable identificada con 'x' con otro valor '5'
x=5
print(x)

hola
5

## 3.2.1 Tipos de datos: int

En Python existe un tipo de datos llamados *int* que vienen siendo lo que nosotros conocemos como los números enteros.

Es decir ...,-3 ,-2, -1, 0, 1, 2, 3,...

In [ ]:
### Enteros ###

x = 3 
y = -2
z = 0

# La función type( _nombre de la variable_ ) nos permite conocer el tipo de datos que almacena una variable

print( type(x) )
print( type(y) )
print( type(z) )

# Debaríamos obtener que las tresvariables x,y,z son enteros

<class 'int'>
<class 'int'>
<class 'int'>

## 3.2.2 Tipos de datos: float

El tipo de datos *float* o conocidos como *flotantes* nos sirven para almacenar en memoria los números que conocemos como los números reales:

Por ejemplo:

* 1.5
* 2.9999
* 3.14159
* 1.0

Todos los anteriores son números reales.

Comprobemoslo:

In [ ]:
### Flotantes ###

x = 1.5
y = 2.9999
z = 3.14159
t = 1.0

# La función type( _nombre de la variable_ ) nos permite conocer el tipo de datos que almacena una variable

print( type(x) )
print( type(y) )
print( type(z) )
print( type(t))


# Debaríamos obtener que las tresvariables x,y,z,t son floats

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

## 3.2.3 Tipos de datos: booleano

Una variable booleana es una variable que sólo puede tomar dos posibles valores: True (verdadero) o False (falso). 

En Python cualquier variable (en general, cualquier objeto) puede considerarse como una variable booleana. En general los elementos nulos o vacíos se consideran False y el resto se consideran True.

Veamos primero los valores **True** y **False**:

In [ ]:
### Booleanos ###

verdadero = True #el valor verdadero se escribe True 
falso = False #el valor verdadero se escribe False

# La función type( _nombre de la variable_ ) nos permite conocer el tipo de datos que almacena una variable

print( type(verdadero) )
print( type(falso) )

# Debería mostrarnos que ambos son booleanos

<class 'bool'>
<class 'bool'>

Tambien mencionamos que otro tipo de datos podían considerarse verdaderos o falsos, veamos esto con la función bool()

In [ ]:
print(bool(0))
print(bool(0.0))
print(bool(""))
print(bool(()))
print(bool([]))
print( bool({}) )
print(bool(None))

False
False
False
False
False
False
False

In [ ]:
print(bool(1))
print(bool(1.0))
print(bool("string"))
print(bool((1)))
print(bool([34]))
print( bool({1,2,3}) )

True
True
True
True
True
True

## 3.2.5 Tipos de datos: String

String o tambien cadena de texto es una cadena es una secuencia inmutable de caracteres Unicode, delimitada por comillas.

Veamoslo rapidamente en unas lineas de código:

In [ ]:
######## String ###############

# Probemos con comillas simples y dobles
string1 = 'Esto es una cadena'
string2 = "Esto es una cadena"

# La función type( _nombre de la variable_ ) nos permite conocer el tipo de datos que almacena una variable

print(type(string1))
print(type(string2))

# Debería marcarnos string

<class 'str'>
<class 'str'>

## 3.2.6 Tipos de datos: Listas

Una lista es un arreglo de elementos donde podemos ingresar cualquier tipo de dato, para acceder a estos datos podemos hacer mediante un índice.

Para crear una lista basta con poner cosas entre [] (corchetes) y separarlas con , (comas).

Son secuencias mutables y vienen dotadas de una variedad de operaciones muy útiles.

Esto puede visualizarse mucho mejor con un ejemplo:

In [ ]:
# Creamos una lista

lista = [1, 2.4, 'Curso THC', [5,6] ,True]

# Veamos como guardamos int, float, string, booleano e incluso una lista dentro de la lista

# Accedemos a cada elemento de la lista de forma ordenada y progresiva enlistando los elementos de uno en uno empezando en cero
# Vemos que se encuentra en cada elemento

# Elemento 0
print( lista[0] )

# Elemento 1
print( lista[1] )

# Elemento 2
print( lista[2] )

# Elemento 3
print( lista[3] )

# Elemento 4
print( lista[4] )

1
2.4
Curso THC
[5, 6]
True

In [ ]:
# Veamos incluso como podemos cambiar los elementos de la lista

# Cambiemos el verdadero por un falso
lista[4] = False

# Cambiemos el primer elemento
lista[0] = 'Este elemento ahora se cambió por un string'

# Veamos la lista ahora con los cambios
print(lista)

['Este elemento ahora se cambió por un string', 2.4, 'Curso THC', [5, 6], False]

## 3.2.7 Tipos de datos: Tuplas

Las tuplas son como las listas, podemos almacenar de todo tipo de datos, pero la diferencia es que son *inmutables*, es decir, no se pueden modificar. Son como unas listas de sólo lectura. Se crean con () (paréntesis) en lugar de [] (corchetes).

Veamos un ejemplo:

In [ ]:
########### tupla ########################

tupla = (1, 2.4, 'Curso THC', [5,6] ,True)

# Elemento 0
print( tupla[0] )

# Elemento 1
print( tupla[1] )

# Elemento 2
print( tupla[2] )

# Elemento 3
print( tupla[3] )

# Elemento 4
print( tupla[4] )

1
2.4
Curso THC
[5, 6]
True

Veamos como los elementos de las tuplas son inmutables:

In [ ]:
# Tratemos de cambiar el primer elemento
tupla[0] = 'Este elemento no es mutable'

# Veamos la lista ahora con los cambios
print(lista)

TypeError: ignored

Efectivamente nos arroja un error.

## 3.3 Operaciones matemáticas básicas

Aquí vamos a presentar la sintaxis para hacer uso de las operaciones más básicas que solemos usar:



*   Suma
*   Resta
*   Multiplicación
*   División
*   Mod
*   Potencias
*   Redondeo
*   Valor absoluto
*   Maximo de un arreglo
*   Mínimo de un arreglo
*   Suma de un arreglo

In [1]:
# SUMA

a = 2
b = 3

c = a + b

print(c)

5

In [2]:
# RESTA

a = 2
b = 3

c = b - a

print(c)

1

In [3]:
# MULTIPLICACIÓN

a = 2
b = 3

c = a * b

print(c)

6

In [4]:
# DIVISIÓN

a = 2
b = 3

c = a / b

print(c)

0.6666666666666666

In [7]:
# MOD

a = 2
b = 7

c = b%a

print(c)

1

In [8]:
# POTENCIAS

a = 2
b = 3

c = a**b

print(c)

8

In [9]:
# POTENCIA (RAIZ CUADRADA)

b = 3

c = 3**(1/2)

print(c)

1.7320508075688772

In [10]:
# SUMA

a = 2.87

c = round(a)

print(c)

3

In [11]:
# VALOR ABSOLUTO

a = -2

c = abs(a)

print(c)

2

In [14]:
# VALOR MÁXIMO DE UN ARREGLO

a = (1,2,3,4,4)

c = max(a)

print(c)

4

In [15]:
# VALOR MÍNIMO DE UN ARREGLO

a = (1,2,3,4,4)

c = min(a)

print(c)

1

In [16]:
# SUMA DE UN ARREGLO

a = (1,2,3,4,4)

c = sum(a)

print(c)

14